<h3>Add Something About Yourself!</h3>
<br>
<%= form_tag ({controller: 'users', action: 'edit_bio', method: 'patch'}) do %>

    <%= text_area_tag name="bio", value="#{@user.bio}"%>
    <br>
    <%= submit_tag "Update About Me" %>
  
<% end %>