<h1>Welcome to VeloBuds</h1>
<p style="max-width: 600px;">Connect with other riders in your communit and join the next group ride! From beginners just starting out to experience riders with World Tour legs, join our community to get the most out of cycling in your area! 🚲</p> 